@import "_mixins";

$primary: #e1e1e1;

// Table
$table-head: rgb(235, 235, 235);

// Form
$form-input-border-color:rgb(235, 235, 235);
$form-input-border-color-focus:#cccccc;
$form-input-border-radius: 5px;
$form-input-background: #efefef;